/*=============================================================================
  body
=============================================================================*/

/*-----------------------------------------------------------------------------
  色
-----------------------------------------------------------------------------*/
@import 'iro';

/*-----------------------------------------------------------------------------
  body
-----------------------------------------------------------------------------*/
body {
  font-family: "M PLUS Rounded 1c",
               "Helvetica Neue",
               Arial,
               "Hiragino Kaku Gothic ProN",
               "Hiragino Sans",
               Meiryo,
               sans-serif !important;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  // ヘッダーの高さ分 空ける
  margin-top: 100px !important;
}

/*-----------------------------------------------------------------------------
  site page
-----------------------------------------------------------------------------*/
.ui.menu.sitepage_header {
  background-size: 100% auto;
  background: $sakurairo;

  .logo_mark {
    img {
      margin: 5px 0 0 0;
    }
  }

  .right.menu > .ui.item {
    font-size: 16px;
  }
}
